.light-control {
	background: rgba(255, 255, 255, 0.8);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	justify-content: center;
	text-align: center;
	width: 200px;
	transition: transform 0.3s ease, opacity 0.3s ease;
	z-index: 1001;
	margin: 2px;
}

.light-control.menu-open {
	transform: translateX(0);
	opacity: 1;
	width: 8vw;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	z-index: 2147483647;

}

.light-control.menu-closed {
	transform: translateX(100%);
	opacity: 0;
}

.light-control .menu-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.section-divider {
	width: 80%;
	margin: 10px auto;
	border-top: 1px solid #ccc;
}

.light-icon {
	font-size: 20px;
	cursor: pointer;
	margin: 0 5px;
}

.light-intensity {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.light-slider {
	flex: 1;
	margin: 0 10px;
}

.light-color {
	display: flex;
	justify-content: space-around;

	margin-top: 10px;
}



/* Media Query for Mobile Devices */
@media (max-height: 768px) {
	.light-control {
		width: 100px;
		padding: 10px;
	}

	.menu-toggle {
		top: 2px;
		left: 5px;
	}

	.title {
		font-size: 0.75rem;
	}

	.light-icon {
		font-size: 8px;
		cursor: pointer;
		margin: 0 5px;
	}

	.light-slider {
		margin: 0;
		width: 100%;
	}

}